<h1>Preencher perfil</h1>

  <%= form_with model: @profile, local: true do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :street %>
      <%= f.text_field :street , class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :neighborhood %>
      <%= f.text_field :neighborhood, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :state %>
      <%= f.text_field :state, class: "form-control" %>
    </div>

    <%= f.submit "Criar", class: 'btn btn-info'%>
  <% end %>