<h3>Perfil</h3>

<%= link_to 'Editar Perfil', edit_profile_path(current_user.profile), class: 'btn btn-primary' %>

<ul class="list-group">
  <li class="list-group-item">Nome: <%= @profile.name %></li>
  <li class="list-group-item">Email: <%= self.current_user.email %></li>
  <li class="list-group-item">Telefone: <%= @profile.phone %></li>
  <li class="list-group-item">Cidade: <%= @profile.city %></li>
  <li class="list-group-item">Rua: <%= @profile.street %></li>
  <li class="list-group-item">Bairro: <%= @profile.neighborhood %></li>
  <li class="list-group-item">CEP: <%= @profile.zip_code %></li>
  <li class="list-group-item">UF: <%= @profile.state %></li>
</ul> 
