<h1>Perfil</h1>

<ul class="list-group">
  <li class="list-group-item">Nome: <%= @profile.name %></li>
  <li class="list-group-item">Email: <%= current_user.email %></li>
  <li class="list-group-item">Telefone: <%= @profile.phone %></li>
  <li class="list-group-item">Cidade: <%= @profile.city %></li>
  <li class="list-group-item">Rua: <%= @profile.street %></li>
  <li class="list-group-item">Bairro: <%= @profile.neighborhood %></li>
  <li class="list-group-item">CEP: <%= @profile.zip_code %></li>
  <li class="list-group-item">UF: <%= @profile.state %></li>
</ul> 
