<h3>Solicitar orçamento</h3>

<% @order.errors.full_messages do |msg| %>
  <%= flash[:error] = msg %>
<% end %>

<%= form_with model: @order, local: true do |f| %>
  <%= f.hidden_field :profile_id, value: current_user.profile.id %>

  <div class="form-group">
    <%= f.label :question_1%>
    <%= f.text_field :question_1, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :question_2 %>
    <%= f.text_field :question_2, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :question_3 %>
    <%= f.text_field :question_3, class: "form-control" %>
  </div>

  <%= f.submit "Criar", class: "btn btn-dark" %>
<% end %>